.meal-card img {
  max-width: 100%;
  border-radius: 10px;
}

.meal-card {
  background: #f1f1f1;
  border-radius: 15px;
  border: 1px solid #999;
  overflow: hidden;
}

.meal-card .body {
  padding: 15px 20px 20px;
}

.meal-card h4 {
  font-size: 25px;
}
.meal-card h4 span {
  float: right;
  vertical-align: middle;
  color: #625df5;
  cursor: pointer;
  transition: 0.1s;
}

.meal-card h4 span:hover {
  transform: scale(1.2);
}
